
.date{
  font-family: digital-7;
  color: white;
  text-align: center;
  font-size: 32px;
}

.clock {
  font-family: digital-7;
  color: white;
  text-align: center;
  font-size: 120px;
}

.button {
  text-align: center;
}